[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = "1.2.0"
scikit-learn = "*"
gunicorn = "*"
flask = "*"
pandas = "==1.0.5"
xgboost= "*"
imblearn="*"

[dev-packages]

[requires]
python_version = "3.8"
