[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
jupyter = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
